@tailwind base;
@tailwind components;
@tailwind utilities;
.song.svelte-bh0blo{font-family:Arial, sans-serif;padding:20px}.search-bar.svelte-bh0blo{margin-bottom:20px}.song-item.svelte-bh0blo{margin-bottom:40px;padding:15px;border-radius:5px}.even.svelte-bh0blo{background-color:#f0f0f0}.odd.svelte-bh0blo{background-color:#e0e0ff}h2.svelte-bh0blo{margin-top:20px}
main.svelte-1nm3cjg{padding:2rem;font-family:Arial, sans-serif}h1.svelte-1nm3cjg{text-align:center}
